.cart {
  text-align: left;
  margin-bottom: 60px; }
  .cart .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-areas: "img cart"; }
    .cart .container .cart__text {
      grid-area: cart; }
      .cart .container .cart__text ul li {
        font-family: "Segoe Regular", serif;
        font-size: 16px;
        color: #909090;
        list-style: none;
        margin: 12px 0; }
        .cart .container .cart__text ul li:first-child {
          margin-top: 30px; }
    .cart .container .cart__img {
      grid-area: img; }

@media screen and (min-width: 0) and (max-width: 650px) {
  .cart {
    text-align: center; }
    .cart .container {
      grid-template-columns: 1fr;
      grid-template-areas: "cart" "img"; }
      .cart .container .cart__img {
        margin-top: 25px; }
      .cart .container .cart__text {
        margin-top: 25px; } }
